<div style="position:relative">
    <!-- Begin Shopping Cart Header -->
    <div ng-click="toggleCartExpanded()">
        <span><i class="glyphicon glyphicon-shopping-cart"></i> Your Shopping Cart <i class="glyphicon" ng-class="{'glyphicon-chevron-down':!cartExpanded,'glyphicon-chevron-up':cartExpanded}"></i></span>
    </div>
    <!-- End Shopping Cart Header -->

    <!-- Begin Expandable Shopping Cart Data -->
    <div class="shopping-cart-dropdown" ng-class="{'cartExpanded': cartExpanded,'cartCollapsed': !cartExpanded}">

        <div ng-repeat="item in cartData.items">
          <p style="font-weight:bold;display:flex;">{{item.name}} <i ng-click="removeItem(item)" title="remove item" class="glyphicon glyphicon-remove-sign remove-item"></i></p>
          <p>quantity: {{item.quantity}}</p>
          <p>size: {{item.size}}</p>
          <p>price: {{item.price | currency}}</p>
          <p>item total: {{item.total | currency}}</p>
        </div>

        <div style="font-weight:bold">CART TOTAL: {{cartData.cartTotal | currency}}</div>
    </div>
    <!-- End Expandable Shopping Cart Data -->
</div>