<div class="add-to-cart-modal">

    <h3>{{chosenProduct.name}}</h3>

    <p ng-bind="chosenProduct.description"></p>

    <label ng-if="chosenProduct.size_prices.length > 1">Select size</label>
    <div class="form-group">
        <div class="checkbox" ng-repeat="sizePrice in chosenProduct.size_prices">
            <label><input ng-click="selectItem(sizePrice)" type="radio" name="product_size" ng-model="selectedItem">&nbsp;{{sizePrice.size}}&nbsp;{{sizePrice.price | currency}}</label>
         </div>
    </div>


    <div class="pull-right bj-btn-container">
        <span><button class="btn btn-default" ng-click="cancel()">Close</button><button class="btn btn-primary" style="margin-left:10px;" ng-click="ok(selectedItem)">Add To Cart</button></span>
    </div>

</div>